        <br />
        <br />
        <div class="bottom-menu">
            <nav>
                <a href="/">Home</a>
                <a href="/computervision">Computer Vision</a>
                <a href="/speechrecognition">Speech Recognition</a>
                <a href="/machinelearning">Machine Learning</a>
                <a href="/sources">Find Out More</a>
            </nav>
        </div>
        <br />
        <br />