        <footer>
            <div class="footer-text">
                CST336 Internet Programming. 2020&copy; Your Last Name <br />
                <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br /> It is used for academic purposes only.
            </div>
            <div>
                <img class="csumb-logo" src="img/CSUMB_logo.png" alt="CSU Monterey Bay logo" />
            </div>
        </footer>
    </body>

</html>