<%- include('partials/header.ejs') %>

        <header>
            <div>
                <h1>AI</h1>
            </div>
        </header>
       
        <%- include('partials/topnav.ejs') %>
               
        <main>
            <div class="grid">
                <div class="grid-item">
                    <h2>What Is AI?</h2>
                    <br />
                    <p>AI, meaning Artificial Intelligence is the field of training 
                    computers to intelligently think like humans to perform tasks. 
                    The meaning of intelligent thought can be broken down into three categories;
                    Internal thought proccesses, reasoning, and behavior.
                    </p>
                    <br />
                    <br />
                </div>
                <div class="grid-item grid-video">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/-aNW08ahM68" sandbox="allow-scripts allow-same-origin allow-presentation" allowfullscreen></iframe>
                </div>
                <br />
                <br />
                <div class="grid-item">
                    <h2>What are the three types of AI?</h2>
                    <br />
                    <div class="inner-grid-item">
                    <h3>Weak or Narrow AI (ANI)</h3>
                    <br />
                    <p>Narrow AI is designed with a specific taks in mind to mimic human behavior.
                    Today, there are narrow AI's that touch almost everyones life. Often unknown 
                    to those that use them.</p>
                    <br />
                    <h3>Artificial General Intelligence (AGI)</h3>
                    <br />
                    <p>General Intelligence AI's are defined by being able to do tasks on the same level
                    as humans.</p>
                    <br />
                    <h3>Artificial Superintelligence (ASI)</h3>
                    <br />
                    <p>An Artificial Superintellegent AI is one that surpasses what humans are capable of doing.
                    With all the on-going advancements in AI, there are many warnings about the potential
                    harm that can come about. While the potential benefits are just as fascinating and 
                    in equal measure.</p>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </main>
        
<%- include('partials/bottomnav.ejs') %>
<%- include('partials/footer.ejs') %>