<%- include('partials/header.ejs') %>   
   
        <header>
            <div>
                <h1>Machine Learning</h1>
            </div>
        </header>
        <div class="top-menu">
            <nav>
                <a href="index.html">Home</a>
                <a href="computervision.html">Computer Vision</a>
                <a href="speechrecognition.html">Speech Recognition</a>
                <a href="machinelearning.html"><strong>Machine Learning</strong></a>
                <a href="sources.html">Find Out More</a>
            </nav>
            <br />
            <br />
        </div>
        <main>
            <div class="grid">
                <h2>What Is Machine Learning?</h2>
                <div class="grid-item grid-img">
                    <img src="img/data_has_a_better_idea.jpg" alt="City view with sign reading data has a better idea" />       
                </div>
                <div class="grid-item">
                    <br />
                    <p>
                        Machine Learning is the topic of getting computers to look for patterns in 
                        large datasets. If you use a recommendation system, it may be using machine 
                        learning. Netflix, Youtube, Spotify, Google Search, Facebook, Twitter, Alexa, 
                        and Siri, all use it.
                    </p>
                    <br />
                    <br />
                    <h2>Aspects of Machine Learning</h2>
                    <br />
                    <h3>Neural Networks</h3>
                    <br />
                    <p>
                        Neural Networks are a computer representation of how the human 
                        brain works. A network consist of nodes, which are used like 
                        human neurons or soma. These nodes contain some logic operation 
                        (e.g. Add, OR, XOR, or NOT). Input acting like dendrites passes 
                        information to the nodes, and an output is recieved and passed along 
                        just as axons do.
                    </p>
                    <br />
                    <h3>Deep Learning</h3>
                    <br />
                    <p>
                        Deep Learning is an aggresive form of Machine Learning 
                        where many layers of nodes are used in unison to increase 
                        pattern finding abilites. 
                    </p>
                    <br />
                    <h3>What are the three types?</h3>
                    <br />
                    <p>
                        <strong>Supervised Learning:</strong> Labeled data is feed to the computer. 
                            The computer knows what patterns it should look for.
                        <br />
                        <strong>Unsupervised Learning:</strong> Unlabeled data is feed to the computer. 
                            The computer does not know what patterns it should look for.
                        <br />
                        <strong>Reinforcement Learning:</strong> The computer learns by a trial and error 
                            process. Rewards and punishments are given to change the computers behavior.
                    </p>
                </div>
            </div>
        </main>
        
        <br />
        <br />
        <div class="bottom-menu">
            <nav>
                <a href="index.html">Home</a>
                <a href="computervision.html">Computer Vision</a>
                <a href="speechrecognition.html">Speech Recognition</a>
                <a href="machinelearning.html"><strong>Machine Learning</strong></a>
                <a href="sources.html">Find Out More</a>
            </nav>
        </div>
        <br />
        <br />
        
<%- include('partials/footer.ejs') %>