<%- include('partials/header.ejs') %>
        
        <header>
            <div>
                <h1>Computer Vision</h1>
            </div>
        </header>
        
        <%- include('partials/topnav.ejs') %>
                
        <main>
            <div id="sources">
                <div id="source-header">
                    <p>Sources</p>
                </div>
                <div id="source-list">
                    <ul>
                        <li><a href="https://www.youtube.com/channel/UCEuiOszNd6msGgqsD0f9YAQ">Interesting Engineering</a></li>
                        <li><a href="https://codebots.com/artificial-intelligence/the-3-types-of-ai-is-the-third-even-possible">Codebots Blog</a></li>
                        <li><a href="https://images-na.ssl-images-amazon.com/images/I/51BotfLIjoL._SX393_BO1,204,203,200_.jpg">Artificial Intelligence: A Modern Approach (4th Edition)</a></li>
                        <li><a href="https://towardsdatascience.com/everything-you-ever-wanted-to-know-about-computer-vision-heres-a-look-why-it-s-so-awesome-e8a58dfb641e">Everything You Ever Wanted To Know About Computer Vision by Ilija Mihajlovic</a></li>
                        <li><a href="https://machinelearningmastery.com/what-is-computer-vision/">A Gentle Introduction to Computer Vision by Jason Brownlee</a></li>
                        <li><a href="https://deepai.org/machine-learning-glossary-and-terms/automatic-speech-recognition">DeepAI</a></li>
                        <li><a href="https://www.technologyreview.com/2018/11/17/103781/what-is-machine-learning-we-drew-you-another-flowchart/">MIT Technology Review</a></li>
                    </ul>
                <div>
            </div>
            
            <br />
            <br />
            
            <div id="contributors">
                <div id="contributors-header">
                    <p>Fake Contributors</p>
                </div>
                <div id="contributors-list">
                    <ul>
                        <li><a href="#">Fake Name</a></li>
                    </ul>
                <div>
            </div>
        </main>
        
<%- include('partials/bottomnav.ejs') %>        
<%- include('partials/footer.ejs') %>