<%- include('partials/header.ejs') %>

        <header>
            <div>
                <h1>Speech Recognition</h1>
            </div>
        </header>
        <div class="top-menu">
            <nav>
                <a href="index.html">Home</a>
                <a href="computervision.html">Computer Vision</a>
                <a href="speechrecognition.html"><strong>Speech Recognition</strong></a>
                <a href="machinelearning.html">Machine Learning</a>
                <a href="sources.html">Find Out More</a>
            </nav>
            <br />
            <br />
        </div>
        <main>
            <div class="grid">
                <div class="grid-item">
                    <h2>What Is Speech Recognition?</h2>
                </div>
                <div class="grid-item grid-img">
                    <img src="img/speech_recognition.jpg" alt="iPhone with an ear" />
                </div>
                <div class="grid-item">
                    <br />
                    <p>
                        Speech Recognition is a sub field of Natural Language Processing, 
                        which is itself a subfield of Artificial Intelligence. The field 
                        revolves around processing spoken language into text.
                    </p>
                    <p>
                        The are many Speech Recognition applications that exists today being
                        used on a broad scale. Alexa, Siri, and Cortana, are all using 
                        Speech Recognition software.
                    </p>
                    <br />
                    <br />
                    <h2>What are the two main types of Speech Recognition?</h2>
                    <br />
                    <h3>Speaker Independent</h3>
                    <br />
                    <p>
                        These systems are made to recognize any voice it hears. It Does
                        not use voice training to recognize who is speaker. 
                        An example of a speaker indepentent system is an automated customer service system.
                    </p>
                    <br />
                    <h3>Speaker Dependent</h3>
                    <br />
                    <p>
                        Speaker Dependent systems are trained to recognize the voice of 
                        the user. The system is most likely dedicated to one person 
                        and uses records of text messages or audio clips to learn 
                        the behaviors of the user.
                    </p>
                </div>
            </div>
        </main>
        
        <br />
        <br />
        <div class="bottom-menu">
            <nav>
                <a href="index.html">Home</a>
                <a href="computervision.html">Computer Vision</a>
                <a href="speechrecognition.html"><strong>Speech Recognition</strong></a>
                <a href="machinelearning.html">Machine Learning</a>
                <a href="sources.html">Find Out More</a>
            </nav>
        </div>
        <br />
        <br />
        
<%- include('partials/footer.ejs') %>